accelerate==1.10.0
addict==2.4.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.13
aiosignal==1.3.2
annotated-types==0.7.0
ascend-npu-utils==0.1.1
asttokens==3.0.0
astunparse==1.6.3
attrs==25.3.0
boto3==1.39.17
botocore==1.39.17
certifi==2025.6.15
charset-normalizer==3.4.2
click==8.2.1
cloudpickle==3.1.1
contourpy==1.3.3
cycler==0.12.1
datasets==3.6.0
decorator==5.2.1
diffusers==0.35.1
dill==0.3.8
evaluate==0.4.3
filelock==3.18.0
fonttools==4.59.0
frozenlist==1.7.0
fsspec==2025.3.0
hccl==0.1.0
hf-xet==1.1.4
huggingface-hub==0.34.2
hypothesis==6.135.11
idna==3.10
importlib_metadata==8.7.0
iniconfig==2.1.0
Jinja2==3.1.6
jmespath==1.0.1
joblib==1.5.1
kiwisolver==1.4.8
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.3
mdurl==0.1.2
mindnlp==0.4.1
mindspore @ https://ms-release.obs.cn-north-4.myhuaweicloud.com/2.5.0/MindSpore/unified/aarch64/mindspore-2.5.0-cp311-cp311-linux_aarch64.whl#sha256=ae26062f3918996138f7d51f658c552853f52c16a5ad1ad7006054a988234379
ml_dtypes==0.5.1
mpmath==1.3.0
multidict==6.5.0
multiprocess==0.70.16
networkx==3.5
numpy==1.26.4
nvidia-ml-py==12.575.51
nvidia-ml-py3==7.352.0
packaging==25.0
pandas==2.3.0
peft==0.17.0
pillow==11.2.1
platformdirs==4.3.8
pluggy==1.6.0
prettytable==3.16.0
propcache==0.3.2
protobuf==6.31.1
psutil==7.0.0
pyarrow==20.0.0
pyctcdecode==0.5.0
pydantic==2.11.7
pydantic_core==2.33.2
pyecharts==2.0.8
Pygments==2.19.2
pygtrie==2.5.0
pynvml==12.0.0
pyparsing==3.2.3
pytest==7.2.0
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
rdkit==2025.3.3
regex==2024.11.6
requests==2.32.4
rich==13.9.4
s3transfer==0.13.1
safetensors==0.5.3
scikit-learn==1.7.1
scipy==1.15.3
seaborn==0.13.2
sentencepiece==0.2.0
simplejson==3.20.1
six==1.17.0
sortedcontainers==2.4.0
svgwrite==1.4.3
swankit==0.2.4
swanlab==0.6.8
sympy==1.14.0
te==0.4.0
textdistance==4.6.3
threadpoolctl==3.6.0
tokenizers==0.21.4
torch==2.8.0
tornado==6.5.1
tqdm==4.67.1
transformers==4.55.2
Tree==0.2.4
typing-inspection==0.4.1
typing_extensions==4.14.0
tzdata==2025.2
urllib3==2.5.0
wcwidth==0.2.13
wrapt==1.17.2
xxhash==3.5.0
yarl==1.20.1
zipp==3.23.0
