model:
  name: "CTEFNet"
  cov_hidden_channels: 50
  cov_out_channels: 16
  heads: 2
  num_layer: 4
  feedforward_dims: 256
  dropout: 0.1
data:
  root_dir: "./dataset"
  train_dataset: "Reanalysis"
  valid_dataset: "Reanalysis"
  train_period: [1941, 1983]
  valid_period: [1984, 2008]
  test_period: [1984, 2008]
  obs_time: 12
  pred_time: 23
  train_batch_size: 512
  valid_batch_size: 5000
  t_in: 2
  t_out_train: 2
  data_sink: False
optimizer:
  name: "sgd"
  finetune_lr: 0.001
  weight_decay: 0.1
  finetune_epochs: 100
  warmup_epochs: 1
  loss_alpha: 1
  loss_beta: 0.02
  loss_gamma: 0.6
  corr_point: 0.5
summary:
  summary_dir: "./summary"
  eval_interval: 1
  save_checkpoint_steps: 100
  keep_checkpoint_max: 100
  plot_line: 2
train:
  distribute: False
  amp_level: O2