model:
  name: FNO3D_time
  in_channels: 10
  out_channels: 1
  input_resolution: 64
  modes: 8
  width: 20
  depth: 4
  extrapolations: 40
  input_timestep: 10
data:
  name: "fno3d"
  root_dir: "./dataset"
  batch_size: 10
  sub: 1
  resolution: 64
optimizer:
  learning_rate: 0.01
  warmup_epochs: 1
  epochs: 150
  weight_decay: 0.0001
summary:
  root_dir: "./summary"
  ckpt_dir: "./checkpoints"
  test_interval: 10
  save_ckpt_interval: 50
  test_batch_size: 1