model:
  name: "GraphCastTp"
  latent_dims: 512
  processing_steps: 10
  recompute: False
  vm_in_channels: 3
  em_in_channels: 4
  eg2m_in_channels: 4
  em2g_in_channels: 4
data:
  name: "era5"
  root_dir: "./dataset_tp"
  feature_dims: 69
  pressure_level_num: 13
  data_sink: False
  batch_size: 1
  t_in: 1
  t_out_train: 1
  t_out_valid: 20
  t_out_test: 20
  train_interval: 1
  valid_interval: 1
  test_interval: 1
  pred_lead_time: 6
  data_frequency: 6
  train_period: [2018, 2018]
  valid_period: [2021, 2021]
  test_period: [2022, 2022]
  rollout_steps: 1
  num_workers: 1
  mesh_level: 5
  grid_resolution: 0.5
  tp: True
  tp_dir: './dataset_tp/tp_log_data/'
optimizer:
  name: "adamw"
  initial_lr: 1.25e-4
  finetune_lr: 0.0000003
  finetune_epochs: 1
  warmup_epochs: 1
  weight_decay: 0.1
  gamma: 0.5
  epochs: 20
summary:
  summary_dir: "./summary"
  eval_interval: 10
  save_checkpoint_steps: 10
  keep_checkpoint_max: 10
  save_rmse_acc: False
  plt_key_info: True
  key_info_timestep: [6, 72, 120]
  ckpt_path: ""
  backbone_ckpt_path: "./dataset_tp/ckpt/GraphCast-device0-1_2008.ckpt"
train:
  name: "oop"
  distribute: False
  mixed_precision: True
  amp_level: O2
  load_ckpt: True
  gradient_clip_value: 16