/tmp/
*.coverage
/.idea
/.vscode
.vscode
.vs/
*.suo
__pycache__/
*.pyc
*.xml
*.so
*.so.*
*.o
*.out
*.gch
build
*.egg-info
dist
version.py
local_script/
output
.ipynb_checkpoints
somas_meta
analyze_fail.dat
*.h5md
.markdownlint.json
**/.DS_Store