numpy >= 1.17.0
easydict >= 1.9
pillow >= 8.2.0
scipy >= 1.7.0                # for mindelec
pyevtk >= 1.4.1               # for mindelec
matplotlib >= 3.2.1           # for mindelec
opencv-python >= 4.1.2.30     # for mindelec
