numpy >= 1.17.0,<=1.23.4
scipy >= 1.7.0
biopython == 1.81
pyyaml >= 5.4.1
dataclasses >= 0.6
glob2 >= 0.6
h5py >= 3.6.0
absl-py >= 1.1.0
biotite == 0.40.0
descriptastorus == 2.6.1
pyparsing >= 3.0.7
rdkit
bio
scikit-learn
mindformers >= 1.2.0
sentencepiece >= 0.2.0