matplotlib >= 3.4.0
mpi4py == 3.1.4
numpy >= 1.17.0
Ofpp == 0.1
pyDOE == 0.3.8
seaborn >= 0.11.1
scikit-learn == 0.24.2
scikit-optimize >= 0.8.1
scipy >= 1.7.0
tikzplotlib == 0.10.1
filelock >= 3.12.2
pyyaml>=6.0
netCDF4 == 1.6.4