model:
  name: "NowcastNet"
  ngf: 32
  pool_ensemble_num: 4
  module_name: "evolution"
data:
  name: "us"
  root_dir: "./dataset"
  t_in: 9
  t_out: 20
  h_size: 512
  w_size: 512
  data_frequency: 10
  num_workers: 1
  data_sink: False
  batch_size: 1
  noise_scale: 32
optimizer-gen:
  name: "adam"
  beta1: 0.01
  beta2: 0.9
  g_lr: 1.5e-5
  d_lr: 6e-5
  epochs: 15
optimizer-evo:
  name: "adam"
  lr: 0.001
  weight_decay: 0.1
  gamma: 0.5
  epochs: 15
  motion_lambda: 1e-2
summary:
  summary_dir: "./summary/"
  eval_interval: 2
  save_checkpoint_epochs: 1
  keep_checkpoint_max: 4
  key_info_timestep: [10, 60, 120]
  generate_ckpt_path: ""
  evolution_ckpt_path: ""
  visual: True
  csin_threshold: 16
train:
  distribute: False
  mixed_precision: True
  amp_level: O2
  load_ckpt: False

