model:
  name: skno
  backbone: "SKNO"
  encoder_depth: 16
  encoder_network: False
  encoder_embed_dim: 768
  num_blocks: 16
  mlp_ratio: 4
  dropout_rate: 1.
data:
  name: "era5"
  root_dir: './dataset'
  feature_dims: 69
  h_size: 128
  w_size: 256
  pressure_level_num: 13
  data_sink: True
  patch: True
  patch_size: 4
  batch_size: 1
  t_in: 1
  t_out_train: 1
  t_out_valid: 20
  t_out_test: 20
  valid_interval: 1
  test_interval: 1
  train_interval: 1
  pred_lead_time: 6
  data_frequency: 6
  train_period: [2015, 2015]  
  valid_period: [2016, 2016]
  test_period: [2018, 2018]
  num_workers: 8
  grid_resolution: 1.4
optimizer:
  name: "adam"
  initial_lr: 0.0001
  finetune_lr: 0.0000003
  finetune_epochs: 1
  warmup_epochs: 1
  weight_decay: 0
  gamma: 0.5
  epochs: 200
summary:
  output_dir: "./summary"
  save_checkpoint_steps: 5
  keep_checkpoint_max: 20
  valid_frequency: 10
  key_info_timestep: [6,72,120]
  ckpt_path: ""
train:
  name: "oop"
  distribute: False
  amp_level: O2
  load_ckpt: False