asttokens==2.0.8
astunparse==1.6.3
certifi==2022.9.24
charset-normalizer==2.1.1
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
dill==0.3.5.1
docopt==0.6.2
idna==3.4
kiwisolver @ file:///opt/conda/conda-bld/kiwisolver_1653292039266/work
matplotlib @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-base_1594091694890/work
mindspore-gpu @ https://ms-release.obs.cn-north-4.myhuaweicloud.com/1.8.1/MindSpore/gpu/x86_64/cuda-11.1/mindspore_gpu-1.8.1-cp38-cp38-linux_x86_64.whl
multiprocess==0.70.13
numpy==1.23.3
packaging==21.3
pandas==1.5.0
pathos==0.2.9
Pillow==9.2.0
pipreqs==0.4.11
pox==0.3.1
ppft==1.7.6.5
protobuf==4.21.6
psutil==5.9.2
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1652235407899/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
pytz==2022.2.1
PyYAML==6.0
requests==2.28.1
SALib==1.4.5
scipy==1.9.1
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1648827257044/work
typing_extensions==4.3.0
urllib3==1.26.12
yarg==0.1.9
